doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/underscore.js')
    script(src='/javascripts/index.js')
  body
    block content